/*.App {*/
/*    text-align: center;*/
/*}*/

/*.app_row {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.app_column:first-child {*/
/*    flex: 0 0 100px;*/
/*}*/
/*.app_column:last-child {*/
/*    flex: 1 1 auto;*/
/*}*/

/*.app_header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*    background-color: #efb5a3;*/
/*    height: 100px;*/
/*    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
/*}*/


/*.app_body {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    gap: 15px;*/

/*    padding: 10px;*/
/*}*/
